/******************************************
HEADER
*******************************************/

	header {
		background-color: #fff;
		background-image: url("../img/template/header-desktop-xl.jpg");
		background-repeat: no-repeat;
		/*filter: grayscale(50%);*/
		height: 289px;
		margin: 0 0 0 0;  /*margine esterno al blocco*/
		/*padding: 5px 0 5px 0;  /*margine interno al blocco*/
		padding: 0 0;
		/*overflow: auto; /*per evitare che sparisca con il logo a sinistra -- poi tolto per menu a tendina*/
	}

	#logo {
		text-align: center;
		display: inline-block;
		width: 100%;
	}

	h1 {
		color: #fff;
		font-family: 'Bilbo Swash Caps', cursive;
		margin: 50px 0 -10px 0;
		font-size: 8.0em;
		font-weight: normal;
    	text-shadow: 4px 4px 4px #651D36;
	}

	h2 {
		color: #000;
		font-family: "Arial Narrow", Arial, sans-serif;
		/*margin: 15px 0 20px 0;*/
		margin: 0;
		font-size: 1.5em;
		font-weight: normal;
	}

	.container-icona-menu{
		width: 100%;
	}

	.icona-menu{
		cursor: pointer;
		width: 48px;
		z-index: 20;
		position: relative;
		margin-left: 2%;
	}

/******************************************
NAV
*******************************************/

	.main-menu {
		background-color: #651D36;
		text-align: center;
		position: absolute;
		display: none;
		padding: 25px 0;
		width: 100%;
		z-index: 10;
	}

	nav a {/*tutti gli elementi "a" dentro "nav"*/
		color: #FFFFFF;
		font-size: normal;
	}

	nav ul{
		list-style: none; /*elimino i ballet neri della lista*/
		margin: 0; /*solo due valori sottindento che va su, dx e si ripete giu e sx*/
		padding: 0; /*ul di default ha del padding a sinistra*/
	}

	nav li{
		display: inline-block; /*mostro orizzontalmente i box model*/
		padding: 0 1%;
	}

	nav a:hover{
		color: #bfbfbf; /* cambio colore quando il mouse passa sui link*/
		font-size: bold;
	}

	nav a.selected{
		color: #bfbfbf;  /* coloro il link della pagina attivav*/
		font-size: bold;
	}

	.parent-menu{
		cursor: pointer;
	}

	.sub-menu {
		display: inline-block;
	}

	.child-menu{
		display: none;
		background-color: #bfbfbf;
		position: absolute;
		margin-top: 25px;
	}

	.child-menu li{
		display: block;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.child-menu li a{
		color: #651D36;
		font-size: bold;
	}

	.child-menu li a:hover{
		color: black; /* cambio colore quando il mouse passa sui link*/
		font-size: bold;
	}

/***********************************************************************************************************************
************************************************** VERSIONE SMARTPHONE *************************************************
***********************************************************************************************************************/

@media screen and (min-width: 250px) and (max-width: 660px){

/******************************************
	HEADER
	*******************************************/

		header {
			background-image: url("../img/template/header-mobile.jpg");
			background-repeat: no-repeat;
			height: 192px;
		}

		h1{
			font-size: 4.2em;
			margin-top: 30px;
		}

		h2{
			font-size: 1.2em; 
		}

		.container-icona-menu{
			text-align: center;
			padding-top: 10px;
		}

		.icona-menu{
			width: 35px;
			z-index: 10;
			/*position: relative;*/
			margin-left: 0;
			text-align: center;
		}

	/******************************************
	NAV
	*******************************************/

		.main-menu{
			padding: 5px 0;
		}

		nav li{
			display: block; /*mostro orizzontalmente i box model*/
			padding: 3%;
		}

		.sub-menu {
			display: block;
		}

		.child-menu{
			position: relative;
		}

}