/******************************************
HEADER - ALL OTHER PAGES
*******************************************/

	header {
		background-color: #651D36;
		opacity: 1;
		/*background-image: url("../img/template/header-desktop-xl.jpg");
		background-repeat: no-repeat;*/
		/*filter: grayscale(50%);*/
		height: 70px;
		margin: 0 0 0 0;  /*margine esterno al blocco*/
		/*padding: 5px 0 5px 0;  /*margine interno al blocco*/
		padding: 0 0;
		/*overflow: auto; /*per evitare che sparisca con il logo a sinistra -- poi tolto per menu a tendina*/
	    position: fixed;
	    top: 0;
	    width: 100%;
	    z-index: 10;
	}

	#logo {
		text-align: left; /*center*/
		display: inline;
		/*width: 100%;*/
	}

	h1 {
		color: #fff;
		font-family: 'Bilbo Swash Caps', cursive;
		/*margin: 50px 0 -10px 0;*/
		margin: 10px 0 0 10px;
		font-size: 3.0em;  /*8.0*/
		font-weight: normal;
    	text-shadow: 4px 4px 4px #651D36;
	}

	h2 {
		color: #000;
		font-family: "Arial Narrow", Arial, sans-serif;
		/*margin: 15px 0 20px 0;*/
		margin: 0;
		font-size: 1.5em;
		font-weight: normal;
	}

	.container-icona-menu{
		/*width: 100%;*/
		display: inline;
		float: left;
		margin-left: 20px;
		margin-top: 14px;
		margin-right: 20px;
	}

	.icona-menu{
		cursor: pointer;
		width: 40px;
		z-index: 20;
		position: relative;
		margin-left: 2%;
	}

/******************************************
NAV - ALL OTHER PAGES
*******************************************/

	.main-menu{
		display: none;
		position: fixed;
		top: 70px;
		background-color: #651D36;
		text-align: center;
		padding: 0;
		width: 100%;
		z-index: 10;
	}

	.voci-menu{
		display: inline-block;
		min-width:420px;
	}

	/**/

	.main-menu a {
	    float: left;
	    display: inline-block;
	    color: #f2f2f2;
	    text-align: center;
	    padding: 15px 16px;
	    text-decoration: none;
	    font-size: 17px;
	    margin-bottom: -3px;
	}

	.main-menu a:hover {
	    background-color: #ddd;
	    color: black;
	}

	/**/

	.sub-menu{
		display: block;
		margin-right: 1%;
	}

	.parent-menu{
		cursor: pointer;
	}

	.child-menu{
		display: none;
		background-color: #bfbfbf;
		position: absolute;
		margin-top: 49px;
		width: 180px;
	}

	.child-menu a{
		display: block;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		color: #651D36;
		font-size: bold;
		width: 100%;
	}

	.child-menu li a:hover{
		color: black; /* cambio colore quando il mouse passa sui link*/
		font-size: bold;
	}

/***********************************************************************************************************************
************************************************** VERSIONE SMARTPHONE *************************************************
***********************************************************************************************************************/

@media screen and (min-width: 250px) and (max-width: 660px){

	/******************************************
	HEADER
	*******************************************/

		header {
			height: 50px;
		}

		h1{
			font-size: 2.0em;
			text-align: center;
		}

		.container-icona-menu{
			position: absolute;
			margin-top: 8px;
			margin-left: 8px;
		}

		.icona-menu{
			width: 35px;
		}

		
	/******************************************
	NAV
	*******************************************/

		.main-menu{
			top: 50px;
			padding: 5px 0;
			/*border-top: solid;
			border-top-width: 1px;
			border-top-color: #ffffff;*/
		}

		.voci-menu{
			display: block;
			width: 100%;
			margin-bottom: -5px;
			margin-top: -5px;
		}

		.main-menu a {
			float: none;
		    display: block;
		    width: 100%;
		}

		.sub-menu {
			display: block;
			width: 100%;
		}

		.child-menu{
			position: relative;
			width: 100%;
			top: -46px;
			margin-bottom: -46px;
		}
		
}