/******************************************
HEADER
*******************************************/

	header {
		background-color: #fff;
		/*background-image: url("../img/template/header-desktop-xl.jpg");
		background-repeat: no-repeat;

		/*background-color: #651D36;*/
		/*filter: grayscale(50%);*/
		height: 289px;
		margin: 0 0 0 0;  /*margine esterno al blocco*/
		/*padding: 5px 0 5px 0;  /*margine interno al blocco*/
		padding: 0 0;
		/*overflow: auto; /*per evitare che sparisca con il logo a sinistra -- poi tolto per menu a tendina*/
	}

	#logo {
		text-align: center;
		display: inline-block;
		width: 100%;
	}

	h1 {
		color: #fff;
		font-family: 'Bilbo Swash Caps', cursive;
		margin: 40px 0 -10px 0;
		font-size: 8.0em;
		font-weight: normal;
    	text-shadow: 4px 4px 4px #000;
	}

	header h2 {
		color: #000;
		font-family: "Arial Narrow", Arial, sans-serif;
		/*margin: 15px 0 20px 0;*/
		margin: 0;
		font-size: 1.5em;
		font-weight: normal;
	}

	.container-icona-menu{
		width: 100%;
		text-align: center;
		/*visibility: hidden;*/
	}

	.icona-menu{
		cursor: pointer;
		width: 48px;
		z-index: 20;
		position: relative;
		top: 20px;
		/*margin-left: 2%;*/
	}

	/*.riga-home{
		background-color: #651D36;
		text-align: center;
		position: absolute;
		display: block;    
		padding: 0;
		width: 100%;
		z-index: 10;
		height: 5px;
	}*/

/******************************************
NAV
*******************************************/

	.main-menu {
		background-color: #651D36;
		text-align: center;
		position: absolute;
		display: none;     /*none*/
		padding: 0;
		width: 100%;
		z-index: 10;
	}

	.voci-menu{
		position: relative;
		display: inline-block;
	}

	.sub-menu{
		float: left;
		display: inline-block;
	}

	.top-menu{
		float: right;
		display: inline-block;
	}

	/**/

	.main-menu a {
		display: inline-block;
	    color: #f2f2f2;
	    padding: 15px 16px;
	    text-decoration: none;
	    font-size: 17px;
	    margin-bottom: -3px;
	}

	.main-menu a:hover {
	    background-color: #ddd;
	    color: black;
	}

	/**/

	.parent-menu{
		cursor: pointer;
	}

	.child-menu{
		display: none;
		background-color: #bfbfbf;
		position: absolute;
		margin-top: 49px;
		width: 180px;
	}

	.child-menu a{
		display: block;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		color: #651D36;
		font-size: bold;
		width: 100%;
	}

	.child-menu li a:hover{
		color: black; /* cambio colore quando il mouse passa sui link*/
		font-size: bold;
	}


/***********************************************************************************************************************
************************************************** VERSIONE SMARTPHONE *************************************************
***********************************************************************************************************************/

@media screen and (min-width: 250px) and (max-width: 660px){

/******************************************
	HEADER
	*******************************************/

		header {
			background-color: #fff;
			background-image: none;
			/*background-image: url("../img/template/header-mobile.jpg");
			background-repeat: no-repeat;*/
			height: 192px;
		}

		h1{
			font-size: 4.2em;
			margin-top: 30px;
			text-shadow: 4px 4px 4px #000;
		}

		header h2{
			font-size: 1.2em; 
		}

		.container-icona-menu{
			visibility: visible;
			text-align: center;
			padding-top: 10px;
		}

		.icona-menu{
			width: 35px;
			z-index: 10;
			/*position: relative;*/
			margin-left: 0;
			text-align: center;
		}

	/******************************************
	NAV
	*******************************************/

		.main-menu {
			display: none; 
		}

		.voci-menu{
			display: block;
			min-width:0;
			width: 100%;
			margin-bottom: -5px;
			margin-top: -5px;
		}

		.sub-menu {
			display: block;
			width: 100%;
		}

		.top-menu{
			display: block;
			width: 100%;
		}

		.main-menu a {
			float: none;
		    display: block;
		    width: 100%;
		}

		.child-menu{
			position: relative;
			width: 100%;
			top: -46px;
			margin-bottom: -46px;
		}

}