/******************************************
GENERAL
*******************************************/



a {
	text-decoration: none;
}

.effetto-opaco{
	display: none;
	opacity:    0.8; 
	filter: alpha(opacity=80); /* For IE8 and earlier */
	background: #ffffff; 
	width:      100%;
	height:     100%; 
	z-index:    5;
	top:        0; 
	left:       0; 
	position:   fixed;
	/*opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}

body {
	font-family: "Arial Narrow", Arial, sans-serif;
}

.container { /*sticky footer in fondo alla pagina (questo è buono se il footer ha dimensione fissa*/
	min-height: calc(100vh - 201px);
}

.show{display:block!important} /*classe per mostrare il menu con javascript al click dell'icona*/
.hide{display:none} 

.clearfix::after{ /*per risolvere il margin collapse e far occupare tutto lo spazio*/
	content: " "; /*crea elemento vuoto all'estremità inferiore del tag*/
	display: table; 
	clear: both;
}

/******************************************
HEADER
*******************************************/

header {
	/*background-color: red;*/
	background-image: url("../img/template/header-desktop.jpg");
	background-repeat: no-repeat;
	height: 289px;
	margin: 0 0 0 0;  /*margine esterno al blocco*/
	/*padding: 5px 0 5px 0;  /*margine interno al blocco*/
	padding: 0 0;
	/*overflow: auto; /*per evitare che sparisca con il logo a sinistra -- poi tolto per menu a tendina*/
}

#logo {
	text-align: center;
	display: inline-block;
	/*padding-left: 5%;*/
	width: 100%;
}

h1 {
	color: #000000;
	font-family: 'Great Vibes', cursive;
	margin: 20px 0 10px 0;
	font-size: 8.0em;
	font-weight: normal;
}

h2 {
	color: #000000;
	font-family: "Arial Narrow", Arial, sans-serif;
	/*margin: 15px 0 20px 0;*/
	margin: 0;
	font-size: 2.0em;
}

.container-icona-menu{
	width: 100%;
}

.icona-menu{
	cursor: pointer;
	width: 48px;
	z-index: 10;
	position: relative;
	margin-left: 2%;
}

.icona-menu-attivo{
	display: none;
	cursor: pointer;
	width: 48px;
	z-index: 9;
	position: relative;
}



/******************************************
NAV
*******************************************/

nav {
	background-color: #651D36;
	text-align: center;
	position: absolute;
	padding: 25px 0;
	display: block;
	width: 100%;
	z-index: 10;
}

nav a {/*tutti gli elementi "a" dentro "nav"*/
	color: #FFFFFF;
	font-size: normal;
}

nav ul{
	list-style: none; /*elimino i ballet neri della lista*/
	margin: 0; /*solo due valori sottindento che va su, dx e si ripete giu e sx*/
	padding: 0; /*ul di default ha del padding a sinistra*/
}

nav li{
	display: inline-block; /*mostro orizzontalmente i box model*/
	padding: 0 1%;
}

nav a:hover{
	color: #bfbfbf; /* cambio colore quando il mouse passa sui link*/
	font-size: bold;
}

nav a.selected{
	color: #bfbfbf;  /* coloro il link della pagina attivav*/
	font-size: bold;
}

.main-menu{
	display: none;
	position: absolute;
	z-index: 10;
}




/******************************************
SECTION
*******************************************/

.wrapper{
	max-width: 940px;
	margin:0 auto 0 auto; /*si accentra*/
	padding:30px 5% 30px 5%;  /*% sull'orizzontale per essere responsive*/
}

#gallery-home{
	list-style: none;
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
}

#gallery-home li {
	float: left; /*per fare layout a 2 colonne??*/
	/*width: 45%;*/
	width: 25.33333333333%;
	margin: 2%;
	padding: 2% 2% 0 2%;
	background-color: #f5f5f5;
}

#gallery-home li:hover{
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#gallery-home li a p{
	font-size: 0.85em;
	color: #000000;
	padding: 5%;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
}

.citazione-home{
	font-family: 'Great Vibes', cursive;
	text-align: center;
	font-size: 2.0em;
	margin-top: 0;
	padding: 0 5% 0 5%;
}

/******************************************
FOOTER
*******************************************/

footer{
	text-align: center;
	clear: both; /*per avere pulito destra e sinistra, quindi resta sotto tutto*/
	padding: 0 0 0 0;
	background-image: url("../img/template/footer-desktop.jpg");
	background-repeat: no-repeat;
	height: 201px;
}

footer p{
	font-size: 0.85em;
}

.social-copyright{
	padding-top: 60px;
}

.icona-social{
	width: 48px;
	height: 48px;
	margin: 0 5px;
}


/******************************************
BIOGRAFIA
*******************************************/

.foto-profilo{
	display: block;
	max-width: 200px;
	margin: 0 auto;
	border-radius: 100%; /*per avere bordi smussati.. al 100% viene un cerchio*/
}

#biografia p{
	text-align: justify;
}

/******************************************
CONTATTI
*******************************************/

#contact-info{
	list-style: none;
	padding: 0;
}

#contact-info a{
	color: #000000;
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}

#contact-info li.indirizzo a{
	background-image: url(../img/icona-indirizzo-casa.png);
}

#contact-info li.telefono a{
	background-image: url(../img/icona-telefono.png);
}

#contact-info li.email a{
	background-image: url(../img/icona-email.png);
}

/*#map{
	display: inline-block; /*è sbagliato! con molto testo funziona, con poco no!*/

.info-contatti{
	/*background-color: green;*/
}

#info{
	/*background-color: red;*/
	float: left;
	width: 50%;
}

#contatti{
	/*background-color: blue;*/
	float: right;
	width: 50%;
}

#map{
	/*background-color: yellow;*/
	text-align: center;
}

#mappa-google{
	width: 100%;
	height: 400px;
	margin-right: auto;
	margin-left: auto;
}


/******************************************
PAGINA OPERE CON GALLERIA
*******************************************/

section p{
	text-align: justify;
}

.banner{
	text-align: center;
	background-image: url(../img/opere/olio-su-tela/oliosutela_007.jpg);
	background-size: cover; /*scala immagine*/
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	position: absolute;
	margin:0;
	left: 0;
	right: 0;
	height: 300px;
}

/*Parallax*/
.post-banner{
	height: 300px;
}

.opere-singole{
	/*display: flex;
	align-items: center;
	justify-content: center;*/
}

.opere-singole a img{
	/*height: 200px;
	width: 200px;
	float: left;*/
	width: 100%;
	height: 100px;
}

.thumbnail-hidden{
	display: none;
}

.galleria-opere{
	text-align: center;
	/*background-color: #bfbfbf;
	padding: 10px 3% 10px 3%;*/
}

.galleria-opere a img{
	/*max-width: 33%;*/
	/*transform: scale(0.5, 0.5);*/
	height: 100px;
	width: 100px;
}






