/***********************************************************************************************************************
************************************************** VERSIONE SMARTPHONE *************************************************
***********************************************************************************************************************/

@media screen and (min-width: 250px) and (max-width: 660px){

	/******************************************
	GENERAL
	*******************************************/

		.container { /*sticky footer in fondo alla pagina (questo è buono se il footer ha dimensione fissa*/
			min-height: calc(100vh - 136px);
		}

		#scrollToTopBtn {
	    display: none; /* Hidden by default */
		    width: 35px;
		    height: 35px;
		}

	/******************************************
	HEADER
	*******************************************/

		header {
			height: 50px;
		}

		h1{
			font-size: 2.0em;
			text-align: center;
		}

		.container-icona-menu{
			position: absolute;
			margin-top: 8px;
			margin-left: 8px;
		}

		.icona-menu{
			width: 35px;
		}

		
	/******************************************
	NAV
	*******************************************/

		.main-menu{
			top: 50px;
			padding: 5px 0;
		}

		nav li{
			display: block; /*mostro orizzontalmente i box model*/
			padding: 3%;
		}

		.sub-menu {
			display: block;
		}

		.child-menu{
			position: relative;
		}

	/******************************************
	SECTION ELEMENTS
	*******************************************/

		/******************************************
		HOME PORTFOLIO LINKS
		*******************************************/

			#gallery-home li{
				margin: 1%;
				padding: 1% 1% 0 1%;
			}

			.due-colonne li {
				width: 48%;
			}

			.quattro-colonne li{
				width: 23%;
			}

		/******************************************
		CITAZIONE
		*******************************************/

			.citazione-home{
				font-size: 1.6em;
			}

		/******************************************
		BIOGRAFIA
		*******************************************/

			#biografia{
				/*background-color: grey;*/
				opacity: 0;
				-webkit-transition: opacity 1s linear;
			}

		/******************************************
		CONTATTI
		*******************************************/

			#container-contatti{
				/*background-color: red;*/
				opacity: 0;
				-webkit-transition: opacity 1s linear;
			}

			#info{
				float: none;
				width: 100%;
			}

			#contatti{
				float: none;
				width: 100%;
			}

			#map{
			/*background-color: yellow;*/
				text-align: left;
			}

	/******************************************
	IMAGE ELEMENTS
	*******************************************/

		/******************************************
		PARALLAX BANNER
		*******************************************/

			.banner1{
				
			}							

		/******************************************
		RIGA DI IMMAGINI ORIZZONTALE
		*******************************************/

			.tre-immagini img{
				width: 31.4%;
				margin: 0.5%;
			}

	/******************************************
	FOOTER
	*******************************************/

		footer{
			background-image: url("../img/template/footer-mobile.jpg");
			background-repeat: no-repeat;
			height: 136px;
		}

		.social-copyright{
			padding-top: 30px;
		}

		.icona-social{
			width: 35px;
			height: 35px;
		}
}

/***********************************************************************************************************************
************************************************** VERSIONE TABLET *****************************************************
***********************************************************************************************************************/

@media screen and (min-width: 661px) and (max-width: 900px) {

	/******************************************
	HEADER
	*******************************************/

		.container-icona-menu{
		
		}

	/******************************************
	SECTION ELEMENTS
	*******************************************/

		/******************************************
		BIOGRAFIA
		*******************************************/

			.foto-profilo{
				float:left;
				margin: 0 5% 5% 0;
			}

	/******************************************
	IMAGE ELEMENTS
	*******************************************/

		/******************************************
		PARALLAX BANNER
		*******************************************/
	
		.banner1{
			
		}

	/******************************************
	FOOTER
	*******************************************/

		.social-copyright{
			padding-top: 50px;
		}

}

/***********************************************************************************************************************
************************************************** VERSIONE DESKTOP ****************************************************
***********************************************************************************************************************/

@media screen and (min-width: 901px){

	/******************************************
	SECTION ELEMENTS
	*******************************************/

		/******************************************
		BIOGRAFIA
		*******************************************/

			.foto-profilo{
				float:left;
				margin: 0 5% 5% 0;
			}
}