/******************************************************************* VERSIONE MOBILE ***********************/

@media screen and (max-width: 660px){

	/******************************************
	HEADER
	*******************************************/


	/******************************************
	NAV
	*******************************************/

	/******************************************
	CONTACT
	*******************************************/

		/*I blocchi info e contatti vengono mostrati */
		#info{
			width: 50%;
			float: left;
		}
		#contatti{
			width:40%;
			float: right; /*per sicurezza su alcuni browser*/
		}


	/******************************************
	GALLERIA DI TEST
	*******************************************/

		.test-thumbnail{
			max-width: 30%;
			margin:1%;
		}



}

/******************************************************************* VERSIONE DESKTOP ***********************/

@media screen and (min-width: 661px){

	/******************************************
	GALLERIA DI TEST
	*******************************************/



	/******************************************
	BIOGRAFIA
	*******************************************/

		.foto-profilo{
			float:left;
			margin: 0 5% 50px 0;
		}


	/******************************************
	PORTFOLIO
	*******************************************/

		#gallery-home li{
			width: 28.33333333333%;
		}


	/******************************************
	HEADER
	*******************************************/

		#logo{
			text-align: center;
			width: 100%;
			/*float: none;*/
		}

	/******************************************
	NAV
	*******************************************/

	/*Nascondo il menu mobile e mostro quello desktop*/




}